@use 'main';
@use 'variables';

%blog {
  --secondary-width: 15rem;

  @extend %main;
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap; // To support `%pane` as a child

  .-blog--primary {
    flex-grow: 1;
    font-style: normal;
    margin-top: 2rem;
    min-width: 0; // For articles with code blocks; https://medium.com/@hbarcelos/flexbox-gotchas-reloaded-ce92a18343d4

    @container style(--is-at-least-tablet-size: true) {
      width: calc(100% - var(--secondary-width));
    }
  }

  .-blog--secondary {
    box-sizing: border-box;
    padding-left: 1px; // For pseudo-element
    padding-top: var(--site-padding);
    position: sticky;
    top: 0;
    width: var(--secondary-width);

    .-blog--secondary-organizing {
      background: linear-gradient(
        to bottom,
        transparent,
        color-mix(in srgb, var(--black) 25%, transparent)
      );
      border-bottom: 1px solid var(--white-trans-subtler);
      padding-bottom: calc(var(--site-padding) / 2);

      .-blog--secondary-organizing-title {
        font-family: var(--alternative-font);
        font-weight: 800;
        margin: 0 var(--site-padding) 2rem;
        text-transform: uppercase;
      }

      ul {
        list-style: none;

        &.-blog--secondary-organizing-archives {
          margin-top: 1.15rem;
          text-align: center;

          a:any-link {
            color: var(--medium-grey);
            font-size: 0.7rem;
            text-transform: uppercase;

            &:is(:active, :focus, :hover) {
              color: var(--light-grey);
              transition: var(--link-duration-in);
            }

            &:not(:active, :focus, :hover) {
              transition: var(--link-duration-out);
            }
          }
        }

        &.-blog--secondary-organizing-categories {
          li {
            --category-item-padding: 0.325rem;

            color: var(--light-grey);
            filter: drop-shadow(
              var(--text-shadow-offset) var(--text-shadow-offset)
                var(--text-shadow-blur) var(--black)
            ); // `text-shadow` is applied to transparent underlines
            padding: var(--category-item-padding) var(--site-padding);
            position: relative; // For pseudo-elements
            text-shadow: none;

            a:any-link {
              margin-left: 1rem;
              text-decoration: underline;

              &::after,
              &::before {
                content: '';
                position: absolute;
              }

              &::after {
                background: linear-gradient(
                  to bottom,
                  transparent,
                  var(--white-trans-subtler) 20%,
                  var(--white-trans-subtler) 80%,
                  transparent
                );
                inset: 0;
                mask: linear-gradient(
                  to right,
                  #ffffff00,
                  #ffffff var(--site-padding),
                  #ffffff calc(100% - var(--site-padding) * 2),
                  #ffffff00
                );
                pointer-events: none;
                z-index: -1; // Appear beneath subsequent siblings
              }

              &:is(:active, :focus, :hover) {
                transition: var(--link-duration-in);

                &::after {
                  opacity: 1;
                  transition: opacity var(--glow-duration-in),
                    transform var(--glow-duration-in);
                }
              }

              &:not(:active, :focus, :hover) {
                text-decoration-color: transparent;
                transition: var(--link-duration-out);

                &::after {
                  opacity: 0;
                  transform: scaleX(50%);
                  transform-origin: left;
                  transition: opacity var(--glow-duration-out),
                    transform var(--glow-duration-out);
                }
              }
            }

            &:not(.-blog--secondary-organizing-categories-selected) {
              a:any-link {
                color: var(--white);

                &::before {
                  background: radial-gradient(
                    ellipse at center,
                    #fedd7c,
                    #ccaa44
                  );
                  background-position: 50% -100%;
                  background-size: 100% 200%;
                  border-radius: 50%;
                  height: 0.5rem;
                  left: var(--site-padding);
                  margin: 0 0.5rem 0.14rem 0;
                  top: calc(var(--category-item-padding) + 0.3rem);
                  width: 0.5rem;
                }
              }
            }

            &.-blog--secondary-organizing-categories-selected {
              a:any-link::before {
                background-color: var(--dark-grey);
                height: 1rem;
                left: calc(var(--site-padding) - 0.5rem);
                mask: url(/images/arrow.svg) no-repeat center center / contain;
                top: calc(var(--category-item-padding) + 0.1rem);
                transform: rotate(180deg);
                width: 1rem;
              }
            }
          }
        }
      }
    }

    .-blog--secondary-other {
      font-style: normal;
      padding: var(--site-padding);
      padding-top: calc(var(--site-padding) * 2);

      ul {
        list-style: none;

        li {
          a:any-link {
            color: var(--light-grey);

            &::before {
              background-color: currentColor;
              content: '';
              display: inline-block;
              height: 0.75rem;
              margin-right: 0.4rem;
              mask-position: center center;
              mask-repeat: no-repeat;
              mask-size: contain;
              width: 0.75rem;
            }

            &:is(:active, :focus, :hover) {
              color: var(--white);
              transition: var(--link-duration-in);
            }

            &:not(:active, :focus, :hover) {
              transition: var(--link-duration-out);
            }

            &.-blog--secondary-other-rss::before {
              mask-image: url(/images/rss.svg);
            }

            &.-blog--secondary-other-x::before {
              mask-image: url(/images/x-twitter.svg);
            }
          }

          &:not(:last-of-type) {
            margin-bottom: 1.25rem;
          }
        }
      }
    }

    // This is so that there can be what is effectively a top margin above
    // the `border`, but one that remains when the element goes sticky
    &::before {
      content: '';
      border-left: 1px solid var(--white-trans-subtler);
      height: calc(100% - var(--site-padding));
      left: 0;
      position: absolute;
    }

    @container style(--is-at-least-tablet-size: false) {
      display: none;
    }
  }
}
