@use 'main';
@use 'variables';

%blog {
  @extend %main;
  align-items: flex-start;
  display: flex;

  .-blog--primary {
    box-sizing: border-box;
    flex-grow: 1;
    font-style: normal;
    margin-top: 2rem;
    min-width: 0; // For articles with code blocks; https://medium.com/@hbarcelos/flexbox-gotchas-reloaded-ce92a18343d4
    padding-left: var(--site-padding);

    @container style(--is-at-least-tablet-size: false) {
      padding-right: var(--site-padding);
    }
  }

  .-blog--secondary {
    border-left: 1px solid var(--white-trans-subtler);
    box-sizing: border-box;
    flex-basis: 15rem;
    flex-shrink: 0;
    margin-top: var(--site-padding);

    .-blog--secondary-organizing {
      background: linear-gradient(
        to bottom,
        transparent,
        color-mix(in srgb, var(--black) 25%, transparent)
      );
      border-bottom: 1px solid var(--white-trans-subtler);
      padding: 0 var(--site-padding) calc(var(--site-padding) / 2)
        var(--site-padding);

      .-blog--secondary-organizing-title {
        font-family: var(--alternative-font);
        font-weight: 800;
        margin-bottom: 2rem;
        text-transform: uppercase;
      }

      ul {
        list-style: none;

        &.-blog--secondary-organizing-archives {
          margin-top: 1.15rem;
          text-align: center;

          a:any-link {
            color: var(--medium-grey);
            font-size: 0.7rem;
            text-transform: uppercase;

            &:not(:active, :focus, :hover) {
              transition: var(--link-duration-out);
            }

            &:active,
            &:focus,
            &:hover {
              color: var(--light-grey);
              transition: var(--link-duration-in);
            }
          }
        }

        &.-blog--secondary-organizing-categories {
          li {
            color: var(--light-grey);
            filter: drop-shadow(
              var(--text-shadow-offset) var(--text-shadow-offset)
                var(--text-shadow-blur) var(--black)
            ); // `text-shadow` is applied to transparent underlines
            margin-top: 0.65rem;
            text-shadow: none;

            a:any-link {
              color: var(--white);
              margin-left: 1rem;
              position: relative; // For pseudo-element
              text-decoration: underline;

              &::before {
                background: radial-gradient(
                  ellipse at center,
                  #fedd7c,
                  #ccaa44
                );
                background-position: 50% -100%;
                background-size: 100% 200%;
                border-radius: 50%;
                box-sizing: border-box;
                content: '';
                height: 0.5rem;
                left: -1rem;
                margin: 0 0.5rem 0.14rem 0;
                position: absolute;
                top: 0.3rem;
                width: 0.5rem;
              }

              &:not(:active, :focus, :hover) {
                text-decoration-color: transparent;
                transition: var(--link-duration-out);
              }

              &:active,
              &:focus,
              &:hover {
                transition: var(--link-duration-in);
              }
            }

            &.-blog--secondary-organizing-categories-selected {
              a:any-link {
                color: inherit;

                &::before {
                  content: none;
                }
              }
            }
          }
        }
      }
    }

    .-blog--secondary-other {
      font-style: normal;
      padding: var(--site-padding);
      padding-top: calc(var(--site-padding) * 2);

      ul {
        list-style: none;

        li {
          a:any-link {
            color: var(--light-grey);

            &::before {
              background-color: currentColor;
              content: '';
              display: inline-block;
              height: 0.75rem;
              margin-right: 0.4rem;
              mask-position: center center;
              mask-repeat: no-repeat;
              mask-size: contain;
              width: 0.75rem;
            }

            &:not(:active, :focus, :hover) {
              transition: var(--link-duration-out);
            }

            &:active,
            &:focus,
            &:hover {
              color: var(--white);
              transition: var(--link-duration-in);
            }

            &.-blog--secondary-other-rss::before {
              mask-image: url(/images/rss.svg);
            }

            &.-blog--secondary-other-x::before {
              mask-image: url(/images/x-twitter.svg);
            }
          }

          &:not(:last-of-type) {
            margin-bottom: 1.25rem;
          }
        }
      }
    }

    @container style(--is-at-least-tablet-size: false) {
      display: none;
    }
  }
}
