@use 'variables';

%container {
  align-content: flex-start; // Corrects vertical centering issue with a row grid nested within a column grid
  max-width: var(--max-site-width);
  width: calc(100% - (var(--site-padding) * 2)); // Size before `max-width`

  @container style(--is-at-least-tablet-size: false) {
    width: calc(100% - var(--site-padding));
  }
}
