@use 'main';
@use 'variables';

%contact {
  @extend %main;
  display: flex;
  flex-wrap: wrap;
  position: relative; // For "message sent" message

  .-contact--content {
    padding: var(--site-padding);
    padding-bottom: 0;

    h1 {
      color: var(--yellow);
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 3rem;
    }

    p {
      line-height: 1.3;
      padding-bottom: 1.3rem;
    }

    strong {
      font-weight: bold;
    }

    ul {
      li {
        list-style: none;
        margin-top: 0.5rem;

        a:any-link {
          color: var(--medium-grey);
          text-decoration: underline;

          &::before {
            background-color: var(--yellow);
            content: '';
            display: inline-block;
            height: 0.75rem;
            margin-right: 0.4rem;
            mask-position: center center;
            mask-repeat: no-repeat;
            mask-size: contain;
            width: 0.75rem;
          }

          &:is(:active, :focus, :hover) {
            color: var(--lighter-grey);
            text-decoration-color: var(--dark-grey);
            transition: var(--link-duration-in);

            &::before {
              background-color: var(--white);
              transition: var(--link-duration-in);
            }
          }

          &:not(:active, :focus, :hover) {
            text-decoration-color: transparent;
            transition: var(--link-duration-out);

            &::before {
              transition: var(--link-duration-out);
            }
          }

          &.-contact--content-github::before {
            mask-image: url(/images/github.svg);
          }

          &.-contact--content-linkedin::before {
            mask-image: url(/images/linkedin.svg);
          }

          &.-contact--content-x::before {
            mask-image: url(/images/x-twitter.svg);
          }
        }
      }
    }

    @container style(--is-at-least-tablet-size: false) {
      background: linear-gradient(
        to bottom,
        transparent 25%,
        color-mix(in srgb, var(--black) 25%, transparent)
      );
      padding-bottom: 2rem;
    }

    @container style(--is-at-least-tablet-size: true) {
      box-sizing: border-box;
      width: 45%;
    }
  }

  .-contact--form {
    textarea {
      min-height: 14rem; // Support user-resizing
    }

    @container style(--is-at-least-tablet-size: true) {
      box-sizing: border-box;
      padding: var(--site-padding);
      padding-bottom: 0;
      width: 55%;

      input {
        width: 75%;
      }
    }

    @container style(--is-at-least-tablet-size: false) {
      border-top: 1px solid var(--white-trans-subtler);
      padding: var(--site-padding);
      padding-top: 2rem;
    }
  }

  .-contact--sent {
    --padding: 50px;

    backdrop-filter: blur(var(--backdrop-blur-size));
    background-color: var(--dark-grey-trans);
    border-radius: var(--btn-border-radius);
    border: 1px dashed var(--yellow);
    box-shadow: var(--black-trans-subtle) var(--overlay-shadow-offset)
      var(--overlay-shadow-offset) var(----overlay-shadow-blur);
    box-sizing: border-box;
    color: var(--yellow);
    font-family: var(--alternative-font);
    font-size: 1.5rem;
    font-weight: 800;
    left: 50%;
    min-height: calc(
      1em + (var(--padding) * 2)
    ); // For typewriting effect - relative size
    padding: var(--padding) 0;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 6rem;
    transform: translateX(-50%);

    @container style(--is-at-least-tablet-size: true) {
      width: 50%;
    }

    @container style(--is-at-least-tablet-size: false) {
      width: 75%;
    }
  }

  @container style(--is-at-least-tablet-size: false) {
    display: block;
  }
}
