@use 'variables';

%footer {
  align-items: center;
  color: var(--dark-grey);
  display: flex;
  font-size: 0.65rem;
  height: 3rem;
  justify-content: center;
  position: relative; // For pseudo-element
  //width: calc(100vw / var(--zoom));
  width: 100%; // Above line caused a horizontal scrollbar in Chrome v134

  &::before {
    background-image: linear-gradient(
      to bottom,
      transparent 0%,
      var(--white-trans-subtler) 100%
    );
    content: '';
    inset: 0;
    mask: url(/images/footer.svg) repeat-x bottom / contain;
    position: absolute;
    z-index: -1; // Appear beneath subsequent siblings
  }

  .-footer--legal,
  .-footer--technical {
    box-sizing: border-box;
    max-width: calc(var(--max-site-width) / 2);
    width: 50%;
  }

  .-footer--legal {
    padding-left: var(--site-padding);
  }

  .-footer--link {
    color: inherit;

    &:not(:active, :focus, :hover) {
      transition: color var(--link-duration-out);
    }

    &:active,
    &:focus,
    &:hover {
      color: var(--light-grey);
      transition: color var(--link-duration-in);
    }
  }

  .-footer--technical {
    padding-right: var(--site-padding);
    text-align: right;
  }
}
