@use 'variables';

%input {
  --input-border-color: color-mix(in srgb, var(--white) 25%, transparent);
  --input-border-color-hover: color-mix(in srgb, var(--white) 50%, transparent);

  input,
  textarea {
    background-color: var(--white-trans-subtle);
    border: 1px solid var(--input-border-color);
    border-radius: var(--btn-border-radius);
    box-sizing: border-box;
    color: color-mix(in srgb, var(--white) 75%, transparent);
    display: block;
    font-size: 1rem;
    font-style: normal;
    margin: 0.3rem 0 1.1rem 0;
    padding: 0.3rem;
    text-shadow: color-mix(in srgb, var(--black) 50%, transparent)
      var(--text-shadow-offset) var(--text-shadow-offset)
      var(--text-shadow-blur);
    width: 100%;

    &:focus {
      border-color: color-mix(in srgb, var(--yellow) 90%, var(--white));
      box-shadow: 0 0 var(--blue-glow-size) 0
        color-mix(in srgb, var(--yellow) 45%, transparent);
      color: var(--white);
      outline: none;
    }
  }

  label {
    color: var(--light-grey);
    font-size: 0.7rem;
    text-transform: uppercase;

    &::after {
      content: ':';
    }
  }

  textarea {
    resize: vertical;
    scrollbar-color: var(--input-border-color) transparent;

    /*&::-webkit-resizer {
      border: 1px solid var(--input-border-color);
      border-bottom: 0;
      border-radius: 1rem;
      border-right: 0;
      cursor: ns-resize;
    }*/

    &:focus {
      scrollbar-color: var(--yellow) transparent;

      /*&::-webkit-resizer {
        border-color: var(--yellow);
      }*/
    }

    &:not(:focus):hover {
      scrollbar-color: var(--input-border-color-hover) transparent;

      /*&::-webkit-resizer {
        border-color: var(--input-border-color-hover);
      }*/
    }
  }

  &:has(input:focus, textarea:focus),
  &:hover {
    input,
    textarea {
      transition: background-color var(--glow-duration-in),
        border-color var(--glow-duration-in),
        box-shadow calc(var(--glow-duration-in) * 2),
        color var(--link-duration-in), scrollbar-color var(--glow-duration-in),
        text-shadow var(--glow-duration-in);
    }

    label {
      color: var(--lighter-grey);
      text-shadow: 0 0 0.24375em
        color-mix(in srgb, var(--white) 80%, transparent); // Relative size
      transition: color var(--link-duration-in),
        text-shadow var(--glow-duration-in);
    }
  }

  &:not(:has(input:focus, textarea:focus)) {
    &:hover {
      input,
      textarea {
        border-color: var(--input-border-color-hover);
        box-shadow: 0 0 0.3125rem 0
          color-mix(in srgb, var(--white) 20%, transparent);
      }
    }

    &:not(:hover) {
      input,
      textarea {
        transition: background-color var(--glow-duration-out),
          border-color var(--glow-duration-out),
          box-shadow calc(var(--glow-duration-out) * 2),
          color var(--link-duration-out),
          scrollbar-color var(--glow-duration-out),
          text-shadow var(--glow-duration-out);
      }

      label {
        transition: color var(--link-duration-out),
          text-shadow var(--glow-duration-out);
      }
    }
  }

  &:has(input:disabled, textarea:disabled),
  &.disabled {
    input,
    label,
    textarea {
      cursor: not-allowed;
    }
  }
}
