@use 'variables';

%pixels {
  align-self: flex-start;
  overflow-x: clip;
  position: sticky;
  top: 0;
  //width: calc(100vw / var(--zoom));
  width: 100%; // Above line caused a horizontal scrollbar in Chrome v134
  z-index: -1; // Appear beneath subsequent siblings

  projectile-pixels {
    height: 398px;
    /* prettier-ignore */
    left: calc(
      (50vw / var(--zoom)) - (
        min(
          100vw / var(--zoom),
          var(--max-site-width)
        )
        / 2
      )
      + 330px
    );
    margin-top: calc(0 - var(--site-padding));
    position: absolute;
    width: 763px;

    /*&:not(:defined) {
      display: block;
    }*/
  }
}
