---
eleventyComputed:
  title: Category Archive for "{{ tag }}"
layout: blog-posts.njk
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - blog
    - blog-archives
    - blog-category
    - blog-page
    - blog-posts
    - categoryCounts
    - contact-page
    - contact-page-sent
    - homepage
    - numbered-headers
permalink: /blog/category/{{ tag }}/
robots:
  - follow
  - noindex
tags: blog-category
---
