---
eleventyExcludeFromCollections: true
permalink: /humans.txt
---
/* TEAM */
  Owner/Designer/Developer: Steven Vachon
  GitHub: https://github.com/stevenvachon
  Location: Niagara Falls, Canada

/* THANKS */
  To all developers in the open-source community.

/* SITE */
  Version: {{ site.version }}
  Last update: {{ site.lastModified | dateISO }}
  Language: English
  Standards: CSS & SCSS, HTML, JavaScript, JSON, JSON-LD, Markdown, Nunjucks, OpenAPI, SVG, YAML
  Components: AWS, Eleventy, GitHub Actions, Node.js
