---
layout: blog.njk
tags: blog-posts
---
<div class="sv blog-posts" itemscope itemtype="https://schema.org/CollectionPage">
  {% if tag %}
    <h1 class="-blog-posts--title" itemprop="name">Archive for posts categorized as "<strong>{{ tag }}</strong>"</h1>
  {% endif %}
  {% for post in collections[tag or 'blog-post'] | reverse %}
    <div class="-blog-posts--item">
      <article class="sv blog-post" itemscope itemtype="https://schema.org/BlogPosting">
        <header>
          <h2 class="-blog-post--title" itemprop="headline">
            <a href="{{ post.url }}" itemprop="url">{{ post.data.title }}</a>
          </h2>
          <time class="-blog-post--date" datetime="{{ post.data.date | dateISO }}" itemprop="datePublished">
            {{ post.data.date | dateFull }}
          </time>
        </header>
        <div class="-blog-post--content" itemprop="description">
          {{ post.content | excerpt | safe }}
          {% if post.content | hasMoretag %}
            <a
              class="-blog-posts--item-read-more"
              href="{{ post.url }}"
              rel="nofollow"
            >Read more</a>
          {% endif %}
        </div>
      </article>
    </div>
  {% endfor %}
</div>
